USE [master]
GO
/****** Object:  Database [EA2]    Script Date: 27/6/2020 18:18:50 ******/
CREATE DATABASE [EA2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EA2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EA2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EA2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EA2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EA2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EA2]
GO
/****** Object:  Table [dbo].[Competidor]    Script Date: 27/6/2020 18:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competidor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Competidor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Premios]    Script Date: 27/6/2020 18:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Premios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CantidadPremios] [int] NOT NULL,
	[Año] [int] NOT NULL,
	[IdCompetidor] [int] NOT NULL,
 CONSTRAINT [PK_Premios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Premios]  WITH CHECK ADD  CONSTRAINT [FK_Premios_Premios] FOREIGN KEY([IdCompetidor])
REFERENCES [dbo].[Competidor] ([Id])
GO
ALTER TABLE [dbo].[Premios] CHECK CONSTRAINT [FK_Premios_Premios]
GO
USE [master]
GO
